.options {
  > .head {
    margin-bottom: 20px;
  }

  > .option {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    > .head {
      font-size: 0.75rem;
      font-weight: bold;
      margin-bottom: 8px;
      display: flex;

      > .action {
        font-weight: normal;
        margin-left: 1em;
      }
    }

    &.skill-option {
      flex-grow: 1;

      > .body {
        display: flex;
        gap: 10px;
        max-width: 400px;
      }

      .skill-item {
        flex: 1;
        aspect-ratio: 1/1;
        cursor: pointer;

        > img {
          object-fit: contain;
          border-radius: 8px;
        }

        &:not(is-active) {
          opacity: 0.5;
        }
      }
    }

    &.killer-option {
      > .body {
        display: flex;
        gap: 10px;

        > .field {
          margin-bottom: 0;
        }
      }

      .killer-icon {
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
      }
    }

    &.drop-option {
      .checkbox {
        display: inline-flex;
        align-items: center;

        input {
          margin-right: 6px;
        }

        .text {
          font-size: 0.85rem;
        }
      }
    }
  }
}
