@import 'microtip';

[aria-label][role~='tooltip']::after {
  white-space: pre;
}

html,
body {
  height: 100%;
}

.app-container {
  position: static;
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1023px) {
    max-width: 616px;
  }
}

.app-navbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .brand {
    flex-grow: 1;
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .title {
      font-weight: normal;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      &:not(:first-child) {
        margin-left: 0.8em;

        @media screen and (max-width: 768px) {
          margin: 0.2em 0 0 0;
        }
      }
    }
  }

  .social {
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }
}

.stage-select {
  width: 576px;
  max-width: 100%;
}

.app-operations {
  display: flex;
  margin-bottom: 5px;
  width: 576px;
  max-width: 100%;

  > .history-nav {
    flex-grow: 1;

    .button {
      &:focus {
        border-color: #b5b5b5;
        box-shadow: none;
      }

      &:active {
        border-color: #4a4a4a;
      }

      &:not(:hover):not(:active),
      &[disabled] {
        border-color: transparent;
      }
    }
  }
}

.app-main {
  display: flex;
  gap: 40px;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    gap: 20px;
  }

  > main {
    width: 576px;
    height: 576px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  > aside {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
