.app-container {
  padding: 20px;
  max-width: 616px;

  display: flex;
  flex-direction: column;
}

.app-navbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .brand {
    flex-grow: 1;
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .title {
      font-weight: normal;
      margin: 0;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }

      &:not(:first-child) {
        margin-left: 0.8em;

        @media screen and (max-width: 768px) {
          margin: 0.2em 0 0 0;
        }
      }
    }
  }

  .social {
    color: inherit;

    &:hover {
      opacity: 0.8;
    }
  }
}
