.board-view {
  display: grid;
  user-select: none;

  > .pieces {
    grid-column: 1;
    grid-row: 1;

    > .row {
      display: flex;
    }
  }

  .background-piece {
    flex-grow: 1;
    position: relative;

    &:not(.is-out) {
      background-size: cover;
      background-image: url('./assets/piece-images/empty.png');
    }

    > .piece {
      width: 100%;
      padding-bottom: 100%;

      touch-action: none;
    }
  }

  > .animation-reference {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    animation: board-suggest 1s ease-in-out infinite;
  }
}

@keyframes board-suggest {
  50% {
    transform: scale(1.05);
  }
}
