.piece-view {
  flex-grow: 1;
  position: relative;

  &.is-moving {
    z-index: 2;
  }

  &.is-swapping {
    z-index: 1;
  }

  > .piece {
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    &.is-out {
      pointer-events: none;
    }

    &:not(.is-out) {
      touch-action: none;
    }
  }

  .piece-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    &.is-suggested {
      animation: piece-suggest 1s ease-in-out infinite;
    }

    &.is-unknown {
      background-image: url('./assets/piece-images/unknown.png');
    }

    &.is-empty {
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/empty_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/empty_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/empty_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/empty_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/empty_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/empty_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/empty_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/empty_jelly8.png');
      }
      &.is-jelly-9 {
        background-image: url('./assets/piece-images/empty_jelly9.png');
      }
    }

    &.is-special {
      background-image: url('./assets/piece-images/n.png');
      &.is-web-1 {
        background-image: url('./assets/piece-images/n_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/n_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/n_web3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/n_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/n_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/n_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/n_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/n_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/n_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/n_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/n_jelly8.png');
      }
      &.is-jelly-9,
      &.is-jelly-10,
      &.is-jelly-11,
      &.is-jelly-12 {
        background-image: url('./assets/piece-images/n_jelly9.png');
      }
    }
    &.is-bomb {
      background-image: url('./assets/piece-images/b.png');
      &.is-web-1 {
        background-image: url('./assets/piece-images/bomb_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/bomb_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/bomb_web3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/bomb_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/bomb_jelly2.png');
      }
      &.is-jelly-3,
      &.is-jelly-4,
      &.is-jelly-5,
      &.is-jelly-6,
      &.is-jelly-7,
      &.is-jelly-8,
      &.is-jelly-9,
      &.is-jelly-10,
      &.is-jelly-11,
      &.is-jelly-12 {
        background-image: url('./assets/piece-images/bomb_jelly3.png');
      }
    }
    &.is-hrocket {
      background-image: url('./assets/piece-images/rh.png');
      &.is-web-1 {
        background-image: url('./assets/piece-images/rh_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/rh_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/rh_web3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/rh_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/rh_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/rh_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/rh_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/rh_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/rh_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/rh_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/rh_jelly8.png');
      }
      &.is-jelly-9 {
        background-image: url('./assets/piece-images/rh_jelly9.png');
      }
      &.is-jelly-10,
      &.is-jelly-11,
      &.is-jelly-12 {
        background-image: url('./assets/piece-images/rh_jelly3.png');
      }
    }
    &.is-vrocket {
      background-image: url('./assets/piece-images/rv.png');
      &.is-web-1 {
        background-image: url('./assets/piece-images/rv_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/rv_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/rv_web3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/rv_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/rv_jelly2.png');
      }
      &.is-jelly-3,
      &.is-jelly-4,
      &.is-jelly-5,
      &.is-jelly-6,
      &.is-jelly-7,
      &.is-jelly-8,
      &.is-jelly-9,
      &.is-jelly-10,
      &.is-jelly-11,
      &.is-jelly-12 {
        background-image: url('./assets/piece-images/rv_jelly3.png');
      }
    }
    &.is-missile {
      background-image: url('./assets/piece-images/m.png');
      &.is-web-1 {
        background-image: url('./assets/piece-images/m_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/m_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/m_web3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/m_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/m_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/m_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/m_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/m_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/m_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/m_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/m_jelly8.png');
      }
      &.is-jelly-9,
      &.is-jelly-10,
      &.is-jelly-11,
      &.is-jelly-12 {
        background-image: url('./assets/piece-images/m_jelly9.png');
      }
    }

    &.is-red {
      background-image: url('./assets/piece-images/r0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/r1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/r2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/r3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/r4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/r5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/r6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/r_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/r_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/r_chain3.png');
      }
      &.is-web-1 {
        background-image: url('./assets/piece-images/r_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/r_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/r_web3.png');
      }
    }

    &.is-blue {
      background-image: url('./assets/piece-images/b0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/b1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/b2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/b3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/b4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/b5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/b6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/b_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/b_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/b_chain3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/b_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/b_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/b_jelly3.png');
      }
    }

    &.is-green {
      background-image: url('./assets/piece-images/g0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/g1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/g2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/g3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/g4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/g5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/g6.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/g_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/g_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/g_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/g_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/g_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/g_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/g_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/g_jelly8.png');
      }
      &.is-jelly-9 {
        background-image: url('./assets/piece-images/g_jelly9.png');
      }
      &.is-jelly-inf {
        background-image: url('./assets/piece-images/g_jelly_inf.png');
      }
      &.is-web-1 {
        background-image: url('./assets/piece-images/g_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/g_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/g_web3.png');
      }
    }

    &.is-yellow {
      background-image: url('./assets/piece-images/y0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/y1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/y2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/y3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/y4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/y5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/y6.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/y_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/y_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/y_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/y_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/y_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/y_jelly6.png');
      }
      &.is-jelly-inf {
        background-image: url('./assets/piece-images/y_jelly_inf.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/y_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/y_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/y_chain3.png');
      }
    }

    &.is-aqua {
      background-image: url('./assets/piece-images/a0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/a1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/a2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/a3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/a4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/a5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/a6.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/a_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/a_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/a_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/a_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/a_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/a_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/a_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/a_jelly8.png');
      }
      &.is-jelly-9 {
        background-image: url('./assets/piece-images/a_jelly9.png');
      }
      &.is-jelly-inf {
        background-image: url('./assets/piece-images/a_jelly_inf.png');
      }
      &.is-web-1 {
        background-image: url('./assets/piece-images/a_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/a_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/a_web3.png');
      }
    }

    &.is-pink {
      background-image: url('./assets/piece-images/p0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/p1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/p2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/p3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/p4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/p5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/p6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/p_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/p_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/p_chain3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/p_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/p_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/p_jelly3.png');
      }
      &.is-jelly-4 {
        background-image: url('./assets/piece-images/p_jelly4.png');
      }
      &.is-jelly-5 {
        background-image: url('./assets/piece-images/p_jelly5.png');
      }
      &.is-jelly-6 {
        background-image: url('./assets/piece-images/p_jelly6.png');
      }
      &.is-jelly-7 {
        background-image: url('./assets/piece-images/p_jelly7.png');
      }
      &.is-jelly-8 {
        background-image: url('./assets/piece-images/p_jelly8.png');
      }
      &.is-jelly-9 {
        background-image: url('./assets/piece-images/p_jelly9.png');
      }
      &.is-jelly-inf {
        background-image: url('./assets/piece-images/p_jelly_inf.png');
      }
      &.is-web-1 {
        background-image: url('./assets/piece-images/p_web1.png');
      }
      &.is-web-2 {
        background-image: url('./assets/piece-images/p_web2.png');
      }
      &.is-web-3 {
        background-image: url('./assets/piece-images/p_web3.png');
      }
    }

    &.is-wood-1 {
      background-image: url('./assets/piece-images/wood1.png');
    }
    &.is-wood-2 {
      background-image: url('./assets/piece-images/wood2.png');
    }
    &.is-wood-3 {
      background-image: url('./assets/piece-images/wood3.png');
    }

    &.is-mouse-1 {
      background-image: url('./assets/piece-images/mouse1.png');
    }
    &.is-mouse-2 {
      background-image: url('./assets/piece-images/mouse2.png');
    }
    &.is-mouse-3 {
      background-image: url('./assets/piece-images/mouse3.png');
    }

    &.is-peanut-1 {
      background-image: url('./assets/piece-images/peanut1.png');
    }
    &.is-peanut-2 {
      background-image: url('./assets/piece-images/peanut2.png');
    }
    &.is-peanut-3 {
      background-image: url('./assets/piece-images/peanut3.png');
    }

    &.is-button-1 {
      background-image: url('./assets/piece-images/button1.png');
    }
    &.is-button-2 {
      background-image: url('./assets/piece-images/button2.png');
    }
    &.is-button-3 {
      background-image: url('./assets/piece-images/button3.png');
    }

    &.is-present-1 {
      background-image: url('./assets/piece-images/present1.png');
    }
    &.is-present-2 {
      background-image: url('./assets/piece-images/present2.png');
    }
    &.is-present-3 {
      background-image: url('./assets/piece-images/present3.png');
    }
    &.is-present-4 {
      background-image: url('./assets/piece-images/present4.png');
    }
    &.is-present-5,
    &.is-present-6,
    &.is-present-7,
    &.is-present-8,
    &.is-present-9 {
      background-image: url('./assets/piece-images/present5.png');
    }
    &.is-present-10,
    &.is-present-11,
    &.is-present-12,
    &.is-present-13,
    &.is-present-14 {
      background-image: url('./assets/piece-images/present10.png');
    }
    &.is-present-15 {
      background-image: url('./assets/piece-images/present15.png');
    }

    &.is-danbooru-1 {
      background-image: url('./assets/piece-images/danbooru1.png');
    }
    &.is-danbooru-2 {
      background-image: url('./assets/piece-images/danbooru2.png');
    }
    &.is-danbooru-3 {
      background-image: url('./assets/piece-images/danbooru3.png');
    }
    &.is-danbooru-4 {
      background-image: url('./assets/piece-images/danbooru4.png');
    }
    &.is-danbooru-5 {
      background-image: url('./assets/piece-images/danbooru5.png');
    }
    &.is-danbooru-6 {
      background-image: url('./assets/piece-images/danbooru6.png');
    }
    &.is-danbooru-7 {
      background-image: url('./assets/piece-images/danbooru7.png');
    }
    &.is-danbooru-8 {
      background-image: url('./assets/piece-images/danbooru8.png');
    }
    &.is-danbooru-9 {
      background-image: url('./assets/piece-images/danbooru9.png');
    }
    &.is-danbooru-10 {
      background-image: url('./assets/piece-images/danbooru10.png');
    }
    &.is-danbooru-11 {
      background-image: url('./assets/piece-images/danbooru11.png');
    }
    &.is-danbooru-12 {
      background-image: url('./assets/piece-images/danbooru12.png');
    }

    &.is-bubble-red-1 {
      background-image: url('./assets/piece-images/bubble_r1.png');
    }
    &.is-bubble-red-2 {
      background-image: url('./assets/piece-images/bubble_r2.png');
    }
    &.is-bubble-blue-1 {
      background-image: url('./assets/piece-images/bubble_b1.png');
    }
    &.is-bubble-blue-2 {
      background-image: url('./assets/piece-images/bubble_b2.png');
    }

    &.is-cat {
      background-image: url('./assets/piece-images/cat.png');
    }

    &.is-chick {
      background-image: url('./assets/piece-images/chick.png');
    }

    &.is-egg-1 {
      background-image: url('./assets/piece-images/egg1.png');
    }
    &.is-egg-2 {
      background-image: url('./assets/piece-images/egg2.png');
    }
    &.is-egg-3 {
      background-image: url('./assets/piece-images/egg3.png');
    }
    &.is-egg-4 {
      background-image: url('./assets/piece-images/egg4.png');
    }
    &.is-egg-5 {
      background-image: url('./assets/piece-images/egg5.png');
    }
    &.is-egg-6 {
      background-image: url('./assets/piece-images/egg6.png');
    }

    &.is-mikan {
      width: 200%;
      height: 200%;
    }
    &.is-mikan-1 {
      background-image: url('./assets/piece-images/mikan1.png');
    }
    &.is-mikan-2 {
      background-image: url('./assets/piece-images/mikan2.png');
    }
    &.is-mikan-3 {
      background-image: url('./assets/piece-images/mikan3.png');
    }
    &.is-mikan-4 {
      background-image: url('./assets/piece-images/mikan4.png');
    }
    &.is-mikan-5 {
      background-image: url('./assets/piece-images/mikan5.png');
    }
    &.is-mikan-6 {
      background-image: url('./assets/piece-images/mikan6.png');
    }
    &.is-mikan-7 {
      background-image: url('./assets/piece-images/mikan7.png');
    }
    &.is-mikan-8 {
      background-image: url('./assets/piece-images/mikan8.png');
    }
    &.is-mikan-9 {
      background-image: url('./assets/piece-images/mikan9.png');
    }
    &.is-mikan-10,
    &.is-mikan-11,
    &.is-mikan-12,
    &.is-mikan-13,
    &.is-mikan-14 {
      background-image: url('./assets/piece-images/mikan10.png');
    }
    &.is-mikan-15,
    &.is-mikan-16,
    &.is-mikan-17,
    &.is-mikan-18,
    &.is-mikan-19 {
      background-image: url('./assets/piece-images/mikan15.png');
    }
    &.is-mikan-20,
    &.is-mikan-21,
    &.is-mikan-22,
    &.is-mikan-23,
    &.is-mikan-24 {
      background-image: url('./assets/piece-images/mikan20.png');
    }
    &.is-mikan-25,
    &.is-mikan-26,
    &.is-mikan-27,
    &.is-mikan-28,
    &.is-mikan-29 {
      background-image: url('./assets/piece-images/mikan25.png');
    }
    &.is-mikan-30 {
      background-image: url('./assets/piece-images/mikan30.png');
    }

    &.is-printer {
      width: 200%;
      height: 200%;
      background-image: url('./assets/piece-images/printer.png');
    }
  }
}

@keyframes piece-suggest {
  50% {
    transform: scale(1.05);
  }
}
