.piece-view {
  flex-grow: 1;
  position: relative;

  &.is-moving {
    z-index: 2;
  }

  &.is-swapping {
    z-index: 1;
  }

  > .piece {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    touch-action: none;
  }

  .piece-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    &.is-suggested {
      animation: piece-suggest 1s ease-in-out infinite;
    }

    &.is-unknown {
      background-image: url('./assets/piece-images/unknown.png');
    }
    &.is-special {
      background-image: url('./assets/piece-images/n.png');
    }
    &.is-bomb {
      background-image: url('./assets/piece-images/b.png');
    }
    &.is-hrocket {
      background-image: url('./assets/piece-images/rh.png');
    }
    &.is-vrocket {
      background-image: url('./assets/piece-images/rv.png');
    }
    &.is-missile {
      background-image: url('./assets/piece-images/m.png');
    }
    &.is-red {
      background-image: url('./assets/piece-images/r0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/r1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/r2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/r3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/r4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/r5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/r6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/r_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/r_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/r_chain3.png');
      }
    }
    &.is-blue {
      background-image: url('./assets/piece-images/b0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/b1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/b2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/b3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/b4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/b5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/b6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/b_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/b_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/b_chain3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/b_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/b_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/b_jelly3.png');
      }
    }
    &.is-green {
      background-image: url('./assets/piece-images/g0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/g1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/g2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/g3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/g4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/g5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/g6.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/g_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/g_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/g_jelly3.png');
      }
    }
    &.is-yellow {
      background-image: url('./assets/piece-images/y0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/y1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/y2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/y3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/y4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/y5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/y6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/y_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/y_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/y_chain3.png');
      }
    }
    &.is-aqua {
      background-image: url('./assets/piece-images/a0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/a1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/a2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/a3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/a4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/a5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/a6.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/a_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/a_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/a_jelly3.png');
      }
    }
    &.is-pink {
      background-image: url('./assets/piece-images/p0.png');
      &.is-ice-1 {
        background-image: url('./assets/piece-images/p1.png');
      }
      &.is-ice-2 {
        background-image: url('./assets/piece-images/p2.png');
      }
      &.is-ice-3 {
        background-image: url('./assets/piece-images/p3.png');
      }
      &.is-ice-4 {
        background-image: url('./assets/piece-images/p4.png');
      }
      &.is-ice-5 {
        background-image: url('./assets/piece-images/p5.png');
      }
      &.is-ice-6 {
        background-image: url('./assets/piece-images/p6.png');
      }
      &.is-chain-1 {
        background-image: url('./assets/piece-images/p_chain1.png');
      }
      &.is-chain-2 {
        background-image: url('./assets/piece-images/p_chain2.png');
      }
      &.is-chain-3 {
        background-image: url('./assets/piece-images/p_chain3.png');
      }
      &.is-jelly-1 {
        background-image: url('./assets/piece-images/p_jelly1.png');
      }
      &.is-jelly-2 {
        background-image: url('./assets/piece-images/p_jelly2.png');
      }
      &.is-jelly-3 {
        background-image: url('./assets/piece-images/p_jelly3.png');
      }
    }
    &.is-wood-1 {
      background-image: url('./assets/piece-images/wood1.png');
    }
    &.is-wood-2 {
      background-image: url('./assets/piece-images/wood2.png');
    }
    &.is-wood-3 {
      background-image: url('./assets/piece-images/wood3.png');
    }
    &.is-present-1 {
      background-image: url('./assets/piece-images/present1.png');
    }
    &.is-present-2 {
      background-image: url('./assets/piece-images/present2.png');
    }
    &.is-present-3 {
      background-image: url('./assets/piece-images/present3.png');
    }
    &.is-present-4 {
      background-image: url('./assets/piece-images/present4.png');
    }
    &.is-present-5,
    &.is-present-6,
    &.is-present-7,
    &.is-present-8,
    &.is-present-9 {
      background-image: url('./assets/piece-images/present5.png');
    }
    &.is-present-10,
    &.is-present-11,
    &.is-present-12,
    &.is-present-13,
    &.is-present-14 {
      background-image: url('./assets/piece-images/present10.png');
    }
    &.is-present-15 {
      background-image: url('./assets/piece-images/present15.png');
    }

    &.is-mikan {
      width: 200%;
      height: 200%;
    }
    &.is-mikan-1 {
      background-image: url('./assets/piece-images/mikan1.png');
    }
    &.is-mikan-2 {
      background-image: url('./assets/piece-images/mikan2.png');
    }
    &.is-mikan-3 {
      background-image: url('./assets/piece-images/mikan3.png');
    }
    &.is-mikan-4 {
      background-image: url('./assets/piece-images/mikan4.png');
    }
    &.is-mikan-5 {
      background-image: url('./assets/piece-images/mikan5.png');
    }
    &.is-mikan-6 {
      background-image: url('./assets/piece-images/mikan6.png');
    }
    &.is-mikan-7 {
      background-image: url('./assets/piece-images/mikan7.png');
    }
    &.is-mikan-8 {
      background-image: url('./assets/piece-images/mikan8.png');
    }
    &.is-mikan-9 {
      background-image: url('./assets/piece-images/mikan9.png');
    }
    &.is-mikan-10,
    &.is-mikan-11,
    &.is-mikan-12,
    &.is-mikan-13,
    &.is-mikan-14,
    &.is-mikan-15,
    &.is-mikan-16,
    &.is-mikan-17,
    &.is-mikan-18,
    &.is-mikan-19 {
      background-image: url('./assets/piece-images/mikan10.png');
    }
    &.is-mikan-20 {
      background-image: url('./assets/piece-images/mikan20.png');
    }
  }
}

@keyframes piece-suggest {
  50% {
    transform: scale(1.05);
  }
}
