.skill-select {
  margin-bottom: 20px;

  > .head {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 8px;
  }

  > .body {
    display: flex;
    max-width: 400px;
    gap: 10px;
    flex-wrap: wrap;
  }

  .skill-item {
    min-width: calc(25% - 10px);
    flex: 1;
    aspect-ratio: 1/1;

    &:not(.is-stub) {
      cursor: pointer;
    }

    > img {
      object-fit: contain;
      border-radius: 8px;
      vertical-align: middle;
    }

    &:not(.is-active):hover > img {
      box-shadow: 0 0 0 4px rgba(255, 140, 0, 0.25);
    }

    &.is-active > img {
      box-shadow: 0 0 0 4px darkorange;
    }
  }
}
