# Logs
logs
*.log
npm-debug.log*
lightning_logs

node_modules
dist
dist-ssr
*.local
coverage
.venv
__pycache__

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local settings
.envrc

# leaning data and models
/detect/data/*
!/detect/data/.keep
/detect/models/*
!/detect/models/.keep