.good-move {
  min-height: 120px;

  > .head {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 6px;

    > .button.is-loading {
      pointer-events: none;
      flex-shrink: 1;
      background-color: transparent;
      border: none;

      &:not(.is-visible) {
        visibility: hidden;
      }
    }
  }

  > .skills {
    display: flex;
    gap: 8px;
    flex-grow: 1;
    margin-bottom: 8px;

    > img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      cursor: pointer;

      &.is-disabled {
        opacity: 0.5;
      }
    }
  }

  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  > .step {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    > .num {
      font-size: 0.9rem;
      white-space: nowrap;
    }

    > .conditions {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      > .tag {
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;

        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }
}

.good-move-overlay {
  position: absolute;

  > .move {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);

    &.is-right {
      /* margin-left: 32px; */
      margin-left: calc(var(--unit) / 2);
    }
    &.is-left {
      /* margin-left: -32px; */
      margin-left: calc(-1 * var(--unit) / 2);
    }
    &.is-down {
      /* margin-top: 32px; */
      margin-top: calc(var(--unit) / 2);
    }
    &.is-up {
      /* margin-top: -32px; */
      margin-top: calc(-1 * var(--unit) / 2);
    }

    &.is-swap {
      color: red;
    }

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .fa-del-color::before,
  .fa-cross-rockets::before,
  .fa-h3-rockets::before,
  .fa-h-rocket::before,
  .fa-piece-break::before,
  .fa-fast-bomb::before {
    content: '';
    display: inline-block;
    width: calc(var(--unit) / 2);
    height: calc(var(--unit) / 2);
    margin-top: calc(var(--unit) / 5);

    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  }
  .fa-del-color::before {
    background-image: url('../assets/skills/tsumugi_bunny.png');
  }
  .fa-cross-rockets::before {
    background-image: url('../assets/skills/himariko_bath.png');
  }
  .fa-h3-rockets::before {
    background-image: url('../assets/skills/nia_bath.png');
  }
  .fa-h-rocket::before {
    background-image: url('../assets/skills/himariko_newyear.png');
  }
  .fa-piece-break::before {
    background-image: url('../assets/skills/iroha_choco.png');
  }
  .fa-fast-bomb::before {
    background-image: url('../assets/skills/scarlet_bunny.png');
  }
}
